name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Processing
        id: setup-processing
        uses: pr1metine/setup-processing@v2.1.0
      - name: Install Processing libs
        run: |
          sudo apt install wget curl -y
          curl -s https://api.github.com/repos/sojamo/controlp5/releases/latest | jq -r '.assets[0]["browser_download_url"]' | xargs -L 1 wget -q
          unzip -d ${{steps.setup-processing.outputs.install-dir}}/modes/java/libraries controlP5*
          curl -s https://api.github.com/repos/ddf/Minim/releases/latest | jq -r '.["zipball_url"]' | xargs -L 1 wget -q
          unzip -d ${{steps.setup-processing.outputs.install-dir}}/modes/java/libraries v*
          sudo mv ${{steps.setup-processing.outputs.install-dir}}/modes/java/libraries/ddf-Minim-* ${{steps.setup-processing.outputs.install-dir}}/modes/java/libraries/minim
      - name: Linux build
        run: processing-java --sketch=./MusicBeam --output=./output --force --export
      - name: Upload Linux Build
        uses: actions/upload-artifact@v3
        with:
          name: Linux Build
          path: output

  Windows:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Processing
        id: setup-processing
        uses: pr1metine/setup-processing@v2.1.0
      - name: Install Processing libs
        run: |
          sudo apt install wget curl -y
          curl -s https://api.github.com/repos/sojamo/controlp5/releases/latest | jq -r '.assets[0]["browser_download_url"]' | xargs -L 1 wget -q
          unzip -d ${{steps.setup-processing.outputs.install-dir}}/modes/java/libraries controlP5*
          curl -s https://api.github.com/repos/ddf/Minim/releases/latest | jq -r '.["zipball_url"]' | xargs -L 1 wget -q
          unzip -d ${{steps.setup-processing.outputs.install-dir}}/modes/java/libraries v*
          sudo mv ${{steps.setup-processing.outputs.install-dir}}/modes/java/libraries/ddf-Minim-* ${{steps.setup-processing.outputs.install-dir}}/modes/java/libraries/minim
      - name: Windows build
        run: processing-java --sketch=./MusicBeam --output=./output --variant=windows-amd64 --force --export
      - name: Upload Windows Build
        uses: actions/upload-artifact@v3
        with:
          name: Windows Build
          path: output

